@{ 
    @model System.Collections.Generic.List<string>
}

    <link href="/style.css" rel="stylesheet" />

    <div class="main">
        <div class="heading">
            This is a test web application to demonstrate the comparison on the strategy to handle images
        </div>
        <div class="sub-heading">
            This page is showing images retrieved as files from a folder
            <br />
            <a href="/base64">Load images from Database</a>
        </div>
        <div class="title">
            African Safari
        </div>
        <div>
            @if (Model?.Any() ?? false && Model.Count == 4)
            {
                <table>
                    <tr>
                        @foreach (var image in Model.Take(2))
                        {
                            <td><img src="/images/@image" /></td>
                        }
                    </tr>
                    <tr>
                        @foreach (var image in Model.Skip(2))
                        {
                            <td><img src="/images/@image" /></td>
                        }
                    </tr>
                </table>
            }
        </div>
    </div>